WAHA_API_KEY=your_key
WAHA_DASHBOARD_USERNAME=your_username
WAHA_DASHBOARD_PASSWORD=your_password
WHATSAPP_SWAGGER_USERNAME=your_username
WHATSAPP_SWAGGER_PASSWORD=your_password
WAHA_DASHBOARD_ENABLED=
WHATSAPP_SWAGGER_ENABLED=
WHATSAPP_DEFAULT_ENGINE=
WAHA_BASE_URL=your_localhost
WAHA_LOG_FORMAT=
WAHA_LOG_LEVEL=
WAHA_PRINT_QR=
WAHA_MEDIA_STORAGE=
WHATSAPP_FILES_LIFETIME=
WHATSAPP_FILES_FOLDER=
AI_BOT_WPP=your_key_llama_or_other_LLM
PHONE_NUMBER1=99999999999@c.us
PHONE_NUMBER2=88888888888@c.us
HUGGINGFACEHUB_API_TOKEN=your_key_do_hugging_face